In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/clientes.csv")
df.head(2)

,CPF,Nome,Idade,Sexo,Localização,Historico_Compras,Preferencias_Produto
0,396.248.571-64,Pedro Lucas Cirino,31,Feminino,Borges do Campo,13,Acessórios
1,583.760.214-35,João Gabriel Jesus,36,Feminino,Cavalcanti da Praia,16,Camisetas

In [8]:
df = pd.read_csv("../data/estoque.csv")
df.head(2)

,Produto,Quantidade_Estoque,Data_Entrada,Data_Saida,Fornecedor,Tempo_Medio_Reposicao
0,Nihil,90,2025-02-25,2025-02-08,Pinto Costa Ltda.,8
1,Dolore,91,2025-01-27,2025-08-24,Dias Machado e Filhos,12

In [11]:
df = pd.read_csv("../data/marketing.csv")
df.head(2)

,Campanha,Emails_Abertos,Emails_Clicados,Cupons_Usados,Curtidas,Comentarios,Cliques_Link_Compra,Reviews_Produtos
0,Asperiores,72,50,4,162,19,67,7
1,At,97,48,27,139,20,26,34

In [12]:
df = pd.read_csv("../data/produtos.csv")
df.head(2)

   ID_Produto    Nome   Categoria  Preço_Unitario  Estoque_Disponivel
0           1   Nihil  Acessórios          488.81                  90
1           2  Dolore   Camisetas          488.02                  91

In [3]:
df = pd.read_csv("../data/vendas.csv")
df.head(2)

,ID_Venda,CPF_Cliente,Data_Hora,Produto_Comprado,Quantidade,Forma_Pagamento,Valor_Total,Local_Venda
0,1,201.693.875-77,2025-08-22 16:37:36,Commodi,3,PIX,482.73,Loja Online
1,2,465.972.308-92,2025-06-16 11:14:43,Voluptatibus,2,Cartão,589.58,Loja Online